.container {
  text-align: center;
}

::placeholder {
  color: #8c9b9d !important;
}

.input {
  background-color: #1f2424;
}

.logo {
  font-size: 4rem;
  bottom: -0.6rem;
  position: relative;
}

.navbar {
  border-radius: 0;
}

.section {
  margin: 0 auto;
  max-width: 75%;
}

.button.is-info {
  background-color: #343c3d;
  margin-bottom: 0.65rem;
  letter-spacing: 0.0001rem;
}

.button.is-pad {
  margin-bottom: 0.65rem;
  letter-spacing: 0.0001rem;
}

.button.is-error {
  margin-bottom: 0.65rem;
  letter-spacing: 0.0001rem;
}

.button.is-error :last-child {
  margin-bottom: 0rem !important;
  letter-spacing: 0.0001rem;
}


a {
  width: 100%;
}

.input, .select select, .textarea {
  border-width: 0;
  background-color: #282f2f;
  color: white;
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
  box-shadow: none;
}

.rounded {
  border-radius: 0.8rem;
}

.hero-body, .section {
  padding: 1.5rem;
}

.title {
  font-weight: bold;
}

.is-danger {
  background-color: #E54B4B !important;
}

hr {
  margin-top: 1rem;
}

.button.is-danger {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@font-face {
  font-family: 'Relative Mono';
  src: url(//jerbob.me/relative-mono-11-pitch.woff);
}

* {
  font-family: 'Relative Mono' !important;
  font-weight: normal !important;
  box-shadow: none !important;
  user-select: none;
}

html::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}
footer {
  padding: 3rem 1.5rem 3rem !important
}

.button.is-error {
  color: #f2f2f2 !important
}

.content .content table th, .table th, tr {
  border: 2px solid #1f2424;
}

.content table td, .content table th, .table td, .table th {
  border-bottom: 1px solid #1f2424;
}


.dotted {
  text-decoration: underline dotted;
  color: white !important;
}
